#dinosaur {
    position: absolute;
    top: 63%;
    left: 25%;
    width: 45px;
    height: 45px;
    background-color: black;
}

.obstacles {
    position: absolute;
    top: 64.5%;
    width: 35px;
    height: 35px;
    background-color: brown;
}

#ground {
    position: absolute;
    top: 70%;
    width: 100%;
    height: 5px;
    background-color: black;
}